{% extends 'base.j2' %}
{% block content %}
{% for i in range(1, max_rounds+1) %}
    <table class="table table-hover">
        <thead>
            <tr>
            <th colspan="6" class="text-center">Round {{ i }}</th>
            </tr>
            <tr>
            <th scope="col">Position ID</th>
            <th scope="col">Role</th>
            <th scope="col">Company</th>
            <th scope="col">Status</th>
            {# <th scope="col">Time</th> #}
            <th scope="col">Qualified</th>
            </tr>
        </thead>
        <tbody>
            {% for interview in interviews %}
                {% if interview.round == i %}
                <tr>
                    <th scope="row"> {{ interview.pos_id }} </th>
                    <td> {{ interview.position.role }} </td>
                    <td> {{ interview.position.company_name }} </td>
                    <td> {{ interview.status }} </td>
                    {# <td> {{ interview.time }} </td> #}
                    <td>                    
                    {% if interview.qualified is not none%}
                        {% if interview.qualified == 1 %}Qualified{% else %}Not Qualified{% endif %}
                    {% else %} 
                    {{ interview.qualified }} 
                    {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <br>
{% endfor %}
<table class="table table-hover">
    <thead>
        <tr>
            <th colspan="6" class="text-center">Offers</th>
        </tr>
        <tr>
            <th scope="col">Position ID</th>
            <th scope="col">Role</th>
            <th scope="col">Company</th>
            <th scope="col">Accept</th>
        </tr>
    </thead>
    <tbody>
        {% for interview in selections %}
                <tr>
                    <th scope="row"> {{ interview.pos_id }} </th>
                    <td> {{ interview.position.role }} </td>
                    <td> {{ interview.position.company_name }} </td>
                    <td>
                    {% if student.selected_pos_id is not none%}
                        {% if interview.pos_id == student.selected_pos_id %}
                        <button id="select_{{ interview.pos_id }}" type="button"
                        class="btn btn-outline-primary" disabled>Selected</button>
                        {% else %}
                        <button id="select_{{ interview.pos_id }}" type="button"
                        class="btn btn-outline-dark" disabled>Rejected</button>
                        {% endif %}
                    {% else %}
                        <button id="select_{{ interview.pos_id }}" onclick="select({{ interview.pos_id }})" type="button"
                        class="btn btn-outline-dark">Select</button>
                    {% endif %}
                    </td>
                </tr>
        {% endfor %}
    </tbody>
</table>
{% block javascript %}
<script>
function select(pos_id) {
  var apply_button = document.getElementById("select_"+pos_id);
  apply_button.disabled = true;
  {% for interview in selections %}
    var other_button = document.getElementById("select_"+{{ interview.pos_id }});
    other_button.disabled = true;
  {% endfor %}
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        window.location.reload();
    } else if(this.readyState == 4){
        apply_button.innerText = "Failed";
        setTimeout(function(){
            apply_button.innerText = "Select"
            apply_button.disabled = false;
        }, 3000);
    }
  };
  xhttp.open("POST", "/student/select/" + pos_id, true);
  xhttp.send();
}
</script>
{% endblock %}
{% endblock %}

