{% extends 'base.j2' %}
{% block content %}

<canvas id="myChart"></canvas>

{% block javascript %}
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ['Students Shortlisted', 'Students Placed'],
        datasets: [{
            label: 'Placement Statistics',
            barThickness: 8,
            maxBarThickness: 8,
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [20, 5]
        }]
    },

    // Configuration options go here
    options: {
        layout: {
            padding: 25
        }        
    }
});
</script>
{% endblock %}

{% endblock %}

