{% extends 'base.j2' %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the IMS</h1>
    <p class="lead">Interview Management System</p>
  </div>
</div>

{% endblock %}